<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sparkling Horizons</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <span class="title">Sparkling Horizons <small> - nowy asortyment</small></span>
        <button onclick="location.href='ItemIndex'">Powrót do edycji asortymentu</button>
<!--        <a href="ItemIndex">Powrót do listy produktów</a>-->
    </header>

    <div class="main-content">

        <div class="summary">

            <form th:action="@{/addItem}" method="post">
                <label><h2>Dodaj nową pozycję</h2></label>
                <label for="form-name" style="display: inline-block;">Nazwa:</label>
                    <input type="text" name="name" required id="form-name" style="display: inline-block;">
                <br><label for="form-price">Cena:</label>
                    <input type="number" min="0.01" step="0.01" name="price" required id="form-price">
                <br><label for="form-imgUrl">Zdjęcie:</label>
                    <input type="text" name="imgUrl" placeholder="Podaj ścieżkę dostępu" id="form-imgUrl"><br>
                <input type="submit" value="Zapisz">
            </form>

        </div>
    </div>
</body>
</html>