<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sparkling Horizons</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header>
    <span class="title">Sparkling Horizons <small> - edycja pozycji</small></span>
</header>

<div class="main-content">

    <div class="summary">
        <h1>Edytuj pozycję asortymentu</h1>

        <form th:action="@{/update/{id}(id=${item.id})}" th:object="${item}" method="post">
            <label for="name">Nazwa</label>
            <input type="text" th:field=*{name} id="name" placeholder="Name" required>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

            <label for="price">Cena</label>
            <input type="number" min="0.01" step="0.01" th:field=*{price} id="price" placeholder="Price" required>
            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>

            <label for="imgUrl">Ścieżka do zdjęcia</label>
            <input type="text" th:field=*{imgUrl} id="imgUrl" placeholder="ImgUrl">
            <span th:if="${#fields.hasErrors('imgUrl')}" th:errors="*{imgUrl}"></span>

            <button type="submit">Zapisz zmiany</button>
        </form>
    </div>

</div>
</body>
</html>