<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Rejestracja</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style1.css">

</head>
<body>
<header>
  <span class="title">Sparkling Horizons</span>
</header>
<div class="container">
  <h1>Rejestracja użytkownika</h1>
  <form action="/register" method="post">
    <div class="form-group">
      <label for="username">Nazwa użytkownika:</label>
      <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="form-group">
      <label for="password">Hasło:</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Zarejestruj</button>
    </div>
  </form>
  <p th:text="${error}" th:if="${error}" class="text-danger mt-3"></p>
</div>
</body>
</html>

